[/]
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
appicon-margin=0
appicon-padding=6
appicon-style='NORMAL'
dot-position='BOTTOM'
dot-style-focused='DASHES'
dot-style-unfocused='DOTS'
extension-version=68
global-border-radius=1
hotkeys-overlay-combo='TEMPORARILY'
panel-anchors='{"RHT-0x00000000":"MIDDLE","unknown-unknown":"MIDDLE"}'
panel-element-positions='{"RHT-0x00000000":[{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"activitiesButton","visible":false,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"stackedTL"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{}'
panel-positions='{"RHT-0x00000000":"TOP","unknown-unknown":"TOP"}'
panel-side-margins=0
panel-sizes='{"RHT-0x00000000":40}'
prefs-opened=false
primary-monitor='RHT-0x00000000'
show-apps-icon-file='/home/{{ ansible_user }}/Pictures/archIcon.png'
show-apps-icon-side-padding=7
trans-use-custom-bg=false
trans-use-custom-opacity=true
trans-use-dynamic-opacity=true
window-preview-title-position='TOP'
